---
layout: page
title: "404"
permalink: /404
---
<p>Alas, there doesn't appear to be anything here. Perhaps there ought to be?</p>
<p>If you've followed a link expecting something to be here, it could be that there once was. Though, who knows, really?</p>
<p>I'm not sure if this will help, but perhaps one of the following things would be worth looking into, instead?</p>
<hr />
<div class="post-list">
                    {% for post in site.posts %} 
                        {% if post.project == null %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                        </li>
                    </ul>
                        {% endif %}
                    {% endfor %}
                </div>
