---
layout: page
title: Search WI+RE
description: Search our collection of for tutorials, workshops, handouts, and more!
permalink: /search/
---

<h2>Search WI+RE</h2>
<p><small><em>Search the WI+RE website for our quick and practical research and writing tutorials, workshops, and handouts.</em></small></p>
<script async src="https://cse.google.com/cse.js?cx=015811538852292369723:vhcz9pwp40c"></script>
<div class="gcse-searchbox"></div>
<div class="gcse-searchresults"></div>

<h2 class="mt-5">Browse WI+RE's Resources</h2>

<p>Not finding what you are looking for? Take a look at the list of all our resources below, or <a href="{{ '/contact' | relative_url }}" target="_blank">contact the WI+RE team</a> and let us know how we can help!</p>

<!-- -->
<!-- Workshops tab-->
<!-- -->
<div class="accordion" id="accordianResources">
  <div class="card">
    <div class="card-header" id="workshopTab">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Workshops
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="workshopTab" data-parent="#accordianResources">
      <div class="card-body">
        <p>Gain a solid foundation in academic research and writing with our 30 minute interactive workshops. </p>
          <table class="table table-sm table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
          {% for workshop in site.workshops %}
                <tr>
                    <td>
                        <a href="{{ workshop.url | relative_url }}" >{{ workshop.title }}</a>
                        {% if workshop.awards %}
                            {% for award in workshop.awards %}
                                {% include award-namify.html %} <i aria-hidden="true" class="fas fa-award" data-toggle="tooltip" data-placement="right" title="{{ awardName }}"></i><span class="sr-only">{{ awardName }}</span>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ workshop.description }}</td>
                </tr>
            {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
  </div>
<!-- -->
<!-- Tutorials tab-->
<!-- -->
  <div class="card">
    <div class="card-header" id="tutorialTab">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Tutorials
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="tutorialTab" data-parent="#accordianResources">
      <div class="card-body">
                <p>Get right to it with our collection of 5 minute research and writing tutorials.</p>
          <table class="table table-sm table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
          {% for tutorial in site.tutorials %}
                <tr>
                    <td>
                        <a href="{{ tutorial.url | relative_url }}">{{ tutorial.title }}</a>
                        {% if tutorial.awards %}
                            {% for award in tutorial.awards %}
                                {% include award-namify.html %} <i aria-hidden="true" class="fas fa-award" data-toggle="tooltip" data-placement="right" title="{{ awardName }}"></i><span class="sr-only">{{ awardName }}</span>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ tutorial.description }}</td>
                </tr>
            {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
  </div>
<!-- -->
<!-- Handouts tab-->
<!-- -->
  <div class="card">
    <div class="card-header" id="handoutTab">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Handouts
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="handoutTab" data-parent="#accordianResources">
      <div class="card-body">
            <p>Printable PDFs of our most popular resources.</p>
          <table class="table table-sm table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
          {% for handout in site.handouts %}
                <tr>
                    <td>
                        <a href="{{ handout.url | relative_url }}">{{ handout.title }}</a>
                        {% if handout.awards %}
                            {% for award in handout.awards %}
                                {% include award-namify.html %} <i aria-hidden="true" class="fas fa-award" data-toggle="tooltip" data-placement="right" title="{{ awardName }}"></i><span class="sr-only">{{ awardName }}</span>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ handout.description }}</td>
                </tr>
            {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
