---
layout: page
title: Handouts
permalink: /handouts/
background: 
---
{% assign groups = site.handouts | group_by: "category" | sort: "date" %}

{% for group in groups %}
    <div class="card mt-5">
        <div class="card-header pt-4">
            <h2>{{ group.name }}</h2>
        </div>
        <div class="card-body">
            <ul class="list-unstyled">
            {% for handout in group.items %}
                <li class="media mt-2">
                    <a href="{{ handout.url | relative_url | replace: '//', '/' }}" class="mr-4 d-none d-md-block" style="max-width: 30%;">
                        {% if handout.thumbnail %}
                            <img src="{{ handout.thumbnail | relative_url }}" class="mr-3 img-fluid img-thumbnail d-none d-md-block" style="max-width: 100%;" alt="Handout icon">
                        {% else %}
                            <i class="fas fa-file-pdf fa-5x" aria-label="Handout PDF"></i>
                        {% endif %}
                    </a>
                    <div class="media-body">
                        <h3 class="mt-0 mb-1"><a href="{{ handout.url | relative_url | replace: '//', '/' }}">{{ handout.title }}</a></h3>
                            <p class="post-subtitle text-justify">
                                {% if handout.description %}
                                    {{ handout.description }}
                                {% else %}
                                    {{ handout.excerpt | strip_html | truncatewords: 30 }}
                                {% endif %}
                            </p>
                        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Actions">
                            <a href="{{ handout.url | relative_url | replace: '//', '/' }}" class="btn btn-primary">More information</a>
                            <a href="{{ handout.embed-url | replace: "preview", "view" }}" class="btn btn-primary">PDF</a>
                        </div>
                    </div>
                </li>
                <hr>
            {%endfor%}
            </ul>
        </div>
    </div>
{%endfor%}

<hr>


{% include pager.html %}