---
layout: default
title: Research and Writing Handouts
---
<h3>Research and Writing Handouts</h3>

<p>Whether you are just beginning to brainstorm or you are ready to share your research, there are handouts to help you at every stage of your writing process. Search for your particular need or explore our broader categories to get help with your research and writing.</p>


<!-- a list of categories -->

<div>Categories:
{% for category in site.categories %}
   <div class="chip"><a href="#{{ category | first }}">{{ category | first }}</a></div>
{% endfor %}
</div>

<hr>

<!-- cards by category -->
{% for category in site.categories %}
    <h3 class="category-title"><a id="{{ category | first }}"></a><a class="rightaction" href="{{ site.url }}{{ site.baseurl }}{{ post.handout }}" target="_blank" </a></h3>  
        {% for posts in category %}
            <div class="row"> 
                {% for post in posts reversed %}
                    {% if post.handout %} 
                        <div class="col s12 m4">
                            <div class="card">
                                <div class="card-image">
                                    <a class="rightaction" href="{{ site.url }}{{ site.baseurl }}{{ post.handout }}" target="_blank" title="{{ post.title | append: " Handout" }}" aria-label="{{ post.title | append: " Handout" }}">
                                        <img src="{{ site.url }}{{ site.baseurl }}{{ post.handout-thumbail }}" alt="{{ post.title | append: " Handout" }}" width="100%"></img></a>
                                </div>
                                <div>
                                    <center><span class="card-title"><a href="{{ site.url }}{{ site.baseurl }}{{ post.handout }}" target="_blank">{{ post.title }}</a></span></center>
                                </div>
                            </div>
                        </div>
                    {% endif %}
            {% endfor %}
            </div> 
        {% endfor %}
{% endfor %}

