<div class="site-announcement">
  <p>
    WI+RE is transitioning to the
    <a href="https://www.library.ucla.edu/about/programs/writing-instruction-and-research-education-wi-re">
      UCLA Library WI+RE site
    </a>.
    This website will be retired August 1, 2026. Resources are being updated to improve accessibility and accuracy, and some content may change. If you are unable to access this content due to a disability, please email  
    <a href="mailto:uclawire@library.ucla.edu">uclawire@library.ucla.edu</a> for assistance.
  </p>
</div>
