<!-- begin embed code -->

<!-- this places a floating button in the bottom right corner -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue lighten-1" href="#modal1">
      <i class="large material-icons">code</i>
    </a>

</div>
  
  


<!-- This is the content of the Modal that pops up -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Embed this research strategy</h4>
      <p>Copy and paste the html code below to embed this research strategy into your site:</p>
      
      <div class="highlighter-rouge">
<pre class="highlight">
<code>&lt;iframe src="{{ site.url }}/embeds{{ page.url }}" width="80%" height="600px"&gt;&lt;/iframe&gt;</code>
</pre>
    </div>
      
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Got it!</a>
    </div>
</div>

<!-- end embed code -->


<!-- in the future, this can be used to build in multiple ways to share -->
<!--
<div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large blue lighten-1" href="#modal1">
      <i class="large material-icons">share</i>
    </a>
        <ul>
      <li class="waves-effect waves-light">
        <a href="#modal1"><i class="material-icons">code</i> Embed</a>
      </li>
      <li class="waves-effect waves-light">
        <a href="#modal1"><i class="material-icons">email</i> Email</a>
      </li>
    </ul>
</div>
-->