<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <!--<h5 class="white-text"> {{ site.title }} </h5>-->
        <p class="grey-text text-lighten-4"> {{ site.description }}. </p>
      </div>

<div class="col l4 offset-l2 s12">
    <!--    
    <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
        </ul>
-->
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">{{ site.name }}</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://library.ucla.edu" property="cc:attributionName" rel="cc:attributionURL">UCLA Library</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    </div>
  </div>
</footer>

</body></html>