<section class="ucla-color two-dark-blue" style="color: white;" id="for-instructors">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Integrate Research &amp; Writing Support into Your Teaching</h2>
                <p><em>Improve student writing and research skills with our easy-to-implement online assignments and tools.</em></p>
                <hr class="primary" style="color:white">
            </div>
        </div>
    </div>
        <div class="container" width="100%">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <img width="30%" src="{{ '/assets/img/content/website.png' | prepend: site.baseurl }}">
                        <h3><a href="{{ site.baseurl}}/categories" style="color:white" target="_blank">Website</a>, <a href="https://youtu.be/hhv8PIFHvek" target="_blank" style="color:white">YouTube</a>, <a href="https://www.facebook.com/WIREbruin/" target="_blank" style="color:white">Social Media</a></h3>
                    <p>Our quick and practical learning modules include topics like reading strategies, integrating citations, and finding scholarly articles. Our materials are open source, so feel free to share!</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <img width="30%" src="{{ '/assets/img/content/ccle.png' | prepend: site.baseurl }}">
                    <h3><a href="https://ccle.ucla.edu/course/view/wire" target="_blank" style="color:white">CCLE Integration</a></h3>
                    <p>Our series of “Foundational Research Skills” activities and quizzes can be seamlessly integrated into your course website.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <img width="30%" src="{{ '/assets/img/content/googledoc.png' | prepend: site.baseurl }}">
                    <h3><a href="https://docs.google.com/document/d/18cGmQSk-kBKKgR8B9YYe2DP5EFHPRn2affxb_u6gj3I/edit?usp=sharing" target="_blank" style="color:white">Research Notebook</a></h3>
                    <p>This customizable Google Doc will guide students through the process of working on a research paper or class assignment.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <img width="30%" src="{{ '/assets/img/content/integration.png' | prepend: site.baseurl }}">
                    <h3><a href="https://youtu.be/d0a_XLPG07w" target="_blank" style="color:white">Customization</a></h3>
                    <p>We are happy to work with you to create a CCLE module, Research Notebook, or video/activity that fits the needs of your class. Contact us to chat about how WI+RE can help!</p>
            </div>
        </div>
  </div>
</section>
