<!-- jQuery -->
<script src="{{ "/assets/js/jquery.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/assets/js/bootstrap.min.js"  | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/assets/js/jquery.easing.min.js"  | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.fittext.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/wow.min.js" | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/assets/js/creative.js"  | prepend: site.baseurl }}"></script>
