<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="text-transform: none;">Strategies for Research and Writing<!-- once we have decided on a new title change this to {{ site.title }} --></h1>
            <hr>
            <p>Quick and practical research and writing strategies, collaboratively designed by students, teachers, and librarians at UCLA.<!-- once we have decided on a new site.title and site.description change this to {{ site.description }} --></p>
            <!--<a href="#services" class="btn btn-primary btn-xl page-scroll">Get Started!</a>-->
            <!--<a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Get started!</a>-->
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <div class="service-box">
                            <a href="#for-students" class="btn btn-primary btn-xl page-scroll">For students</a>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="service-box">
                            <a href="#for-instructors" class="btn btn-primary btn-xl page-scroll">For instructors</a>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="service-box">
                            <a href="#categories" class="btn btn-primary btn-xl page-scroll">All Tutorials</a>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</header>
