<section id="for-students">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Where would you like to start?</h2>
                <p><em>Check out one of our themed collections<!--, start with one of our <a href="#features" class="page-scroll">most popular strategies</a>--> or see <a href="{{ site.baseurl}}/categories">a list of all our tutorials</a>.</em></p>
                <hr class="primary">
            </div>
        </div>
    </div>
    <!-- start category features -->
    <div class="container">
        <!-- first row of category features -->
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="far fa-lightbulb fa-4x wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3><a href="{{ "/categories/getting-started" | prepend: site.baseurl}}">Getting Started</a></h3>
                    <p class="text-muted">Generating research questions, planning your project, and getting ready for research.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-search wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3><a href="{{ "/categories/finding-and-citing-sources" | prepend: site.baseurl }}">Finding and Citing Sources</a></h3>
                    <p class="text-muted">Learn practical strategies to search for books, articles, and more.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-pencil-alt wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3><a href="{{ "/categories/writing-with-sources" | prepend: site.baseurl}}">Writing with Sources</a></h3>
                    <p class="text-muted">Learn how to integrate your sources into your academic writing.</p>
                </div>
            </div>
        </div>
        <!-- second row of category features -->
        <div class="row"> 
            <div class="col-md-6 text-center">
                <div class="service-box">
                    <i class="far fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".5s"></i>
                    <h3><a href="{{ "/categories/sharing-your-research" | prepend: site.baseurl}}">Sharing your Research</a></h3>
                    <p class="text-muted">A quick introduction to abstracts, elevator speeches, and opportunities to share your work.</p>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="service-box">
                    <i class="far fa-4x fa-file-alt wow bounceIn text-primary" data-wow-delay=".6s"></i>
                    <h3><a href="{{ "/categories/literature-reviews" | prepend: site.baseurl}}">Literature Reviews</a></h3>
                    <p class="text-muted">Get ready to analyze the literature on your topic and identify areas for future scholarship.</p>
                </div>
            </div>
        </div>
    </div>
</section>
