<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Keep in touch!</h2>
                <p>We'd love to hear from you.</p>
                <hr class="primary">
              
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.social.twitter }}" target="_blank" aria-label="WIREbruin on twitter">
                <i class="fab fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              
            </a>
        </div>
          <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://facebook.com/{{ site.social.facebook }}" target="_blank" aria-label="WIREbruin on facebook">
            <i class="fab fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              
            </a>
        </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfhNlhf87K5P7YOXaYJ0gpArdwZZwvV77hZa9ow_8pSDWUf7Q/viewform" target="_blank" aria-label="Email the WI+RE team">
            <i class="fas fa-envelope-open fa-3x wow bounceIn" data-wow-delay=".1s"></i>
               
            </a>
        </div>
    </div>
<p>Get to know the WI+RE Team <a href="{{ site.baseurl}}/about" target="_blank">here</a>.</p>
</section>
