<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{ site.baseurl }}/" class="brand-logo"> {{ site.title }} </a>
     <ul class="right hide-on-med-and-down">
      {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}
            <li><a label="{{ link.title }}" href="{{ domain }}{{ link.url }}"><i class="material-icons">{{ link.icon }}</i></a></li>
          {% endfor %}
         </ul>
        {% include side-nav.html %}
    </div>
  </nav>
<!-- end .header -->
