<hr>
{% capture member-name-list %}{{ site.team-members | map: 'username' | split: ',' }}{% endcapture %}
<div class="card">
  <div class="card-header">
    About this {{ page.layout }}
  </div>
  <div class="card-body">
        {% if page.awards %}
            <h5 class="card-title">Awards and Recognition</h5>
            <div class="container">
                <div class="row">
                    {% for award in page.awards %}
                        <div class="col-sm-6">
                            {% include /awards/{{ award }}.html %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif%}
        <h5 class="card-title">Authors</h5>  
        <p class="card-text">
                {% if page.authors %}
                    {% for authorname in page.authors %}
                        {% if member-name-list contains authorname %}
                            {% for team-member in site.team-members %}
                                {%- if authorname == team-member.username -%}
                                    <a href="{{ team-member.title | slugify | prepend: '/about/creative-team/' | relative_url }}">{{ team-member.displayname }}</a>
                                {%- endif -%}
                            {% endfor %}{% if forloop.last == false %},{% endif %}
                        {% else %}
                            {{ authorname }}{% if forloop.last == false %},{% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <a href="{{ '/about/creative-team/' | relative_url }}">{{ site.author }}</a>
                {% endif %}
        </p>
      {% if page.contributors %}
                  <h5 class="card-title">Contributors</h5>
                  <p class="card-text">
                    {% for contributorname in page.contributors %}
                        {% if member-name-list contains contributorname %}
                            {% for team-member in site.team-members %}
                                {%- if contributorname == team-member.username -%}
                                    <a href="{{ team-member.title | slugify | prepend: '/about/creative-team/' | relative_url }}">{{ team-member.displayname }}</a>
                                {%- endif -%}
                            {% endfor %}{% if forloop.last == false %},{% endif %}
                        {% else %}
                            {{ contributorname }}{% if forloop.last == false %},{% endif %}
                        {% endif %}
                    {% endfor %}
                 </p>
      {% endif %}
      <!-- todo:: fix double research-tips -->
      <!--
              <h5 class="card-title">Link</h5>
                <p class="card-text"><a href="{{ page.url | absolute_url }}">{{ page.url | absolute_url }}</a></p>
        -->
      {% if page.learning-outcomes %}
        <h5 class="card-title">Learning Outcomes</h5>
        <ul>
            {% for outcome in page.learning-outcomes %}
                <li>
                    {{ outcome }}
                </li>
            {% endfor %}
        </ul>
      {% endif %}

      {% if page.accessibility-info %}
        <h5 class="card-title">Accessibility Information</h5>
        <ul>
            {% for info in page.accessibility-info %}
                <li>
                    {% if info.link-text and info.url %}
                        {{ info.text }} (<a href="{{ info.url }}" style="text-decoration: underline;" target="_blank" >{{ info.link-text }}{% if info.date %} - {{ info.date | | date: "%b %d, %Y" }}{% endif %}</a>)
                    {% elsif info.url and info.text %}
                        <a href="{{ info.url }}" style="text-decoration: underline;" target="_blank" >{{ info.text }}{% if info.date %} - {{ info.date | | date: "%b %d, %Y" }}{% endif %}</a>
                    {% else %}
                        {{ info.text }}{% if info.date %} - {{ info.date | | date: "%b %d, %Y" }}{% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
      {% endif %}
    <!-- todo:: build out pages on core comps and acrl-frames
      {% if page.core-competencies %}
      <h5 class="card-title">The <a href="https://escholarship.org/uc/item/2t03q5bw" target="_blank">Core Competencies for Research and Information Literacy at UCLA</a></h5>
        <ul>
            {% for comp in page.core-competencies %}
                <li>
                    {{ comp }}
                </li>
            {% endfor %}
        </ul>
      {% endif %}
        -->
    </div>
</div>
      


