<div class="input-group md-form form-sm form-1 pl-0 mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: #005587;" id="basic-text1"><i class="fas fa-search text-white" aria-hidden="true"></i></span>
    <label for="myInput" class="sr-only">Search for tutorials and workshops:</label>
  </div>
  <input class="form-control" id="myInput" type="text" aria-label="Search for tutorials and workshops" placeholder="try keywords like literature review or writing">
</div>


{% for collection in site.collections %}
{% if collection.label == "tutorials" or collection.label == "workshops" %}
  <h3>{{ collection.label | capitalize }}</h3>
    <table class="table table-sm table-responsive-sm">
        <thead>
            <th scope="col">Title</th>
            <th scope="col">Learning Outcomes</th>
            <th scope="col" style="display: none;">Tags</th> <!-- use tags for common search terms, e.g., "lit review" - column is hidden but matching results will still display -->
        </thead>
        <tbody id="myTable">
            {% assign sorted_items = site[collection.label] | sort: "title" %}
            {% for item in sorted_items %}
                    <tr>
                        <td>
                            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
                            {% for handout in site.handouts %}
                                {% if handout.title == item.title %}
                                    <br>
                                    <small><em>See also: <a href="{{ handout.url | relative_url }}">{{ handout.title }} (PDF Handout)</a></em></small>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% if item.learning-outcomes %}
                                <ul>
                                    {% for outcome in item.learning-outcomes %}
                                        <li>{{ outcome }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <small><em>Coming soon!</em></small>
                            {% endif %}
                        </td>
                        <td style="display: none;">
                            {% if item.tags %}
                                <p>{{ item.tags | split: ", " }}</p>
                            {% endif %}
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endfor %}