<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}" aria-label="{{ site.title }} homepage">{{ site.title }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!-- removing home icon to fix redundant link warning in WAVE -->
          <!--<li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/about/" | relative_url }}">About</a>
        </li>
        <!-- todo:: dropdown shows up behind masthead in chrome and safari - could not figure out z-index fixes -->
        <!--
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  href="{{"/about" | relative_url }}">About WI+RE</a>
          <a class="dropdown-item" href="{{"/about/creative-team/" | relative_url }}">The WI+RE Team</a>
          <a class="dropdown-item" href="{{"/sandbox/" | relative_url }}">WI+RE's Sandbox</a>
          <a class="dropdown-item" href="{{"/about/design-toolkit/" | relative_url }}">WI+RE's Design Toolkit</a>
          <a class="dropdown-item" href="{{"/wire-way/" | relative_url }}">The WI+RE Way</a>
        </div>
        </li>
          -->
        <li class="nav-item">
          <a class="nav-link" href="{{"/workshops" | relative_url }}">Workshops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/tutorials" | relative_url }}">Tutorials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/handouts" | relative_url }}">Handouts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}">Contact</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="{{'search' | relative_url }}"><i class="fas fa-search" aria-label="Search"></i><span class="d-lg-none"> Search</span></a>
          </li>
      </ul>
    </div>
  </div>
</nav>
