<!-- Pager -->
<!-- I'm not sure this works -->

{% if paginator.total_pages > 1 %}

  <div class="clearfix">

    {% if paginator.previous_page %}
      <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer<span class="d-none d-md-inline"> Posts</span></a>
    {% endif %}

    {% if paginator.next_page %}
      <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older<span class="d-none d-md-inline"> Posts</span> &rarr;</a>
    {% endif %}

  </div>

{% endif %}