<div class="post-list"> <!--keeping the same style for now-->
    {% for presentation in site.presentations reversed %}
        <ul>
            <li class="wow fadeInLeft" data-wow-duration="1.5s">
                <a class="zoombtn" href="{{ site.url }}{{ presentation.url }}">{{ presentation.title }}</a>
                <p>
                {% if presentation.hidedayindate %}
                                {{ presentation.date | date: '%B, %Y' | append: ". " }}
                {% else %}
                                {{ presentation.date | date: '%B %d, %Y' | append: ". "}}
                {% endif %}

                {% if presentation.meetingname %}
                                {{ presentation.meetingname | append: ". " }}
                {% endif %}
                            {% if presentation.place %}
                                {{ presentation.place | append: ". " }}
                {% endif %}
                {% if presentation.copresenters %}
                                {{ presentation.copresenters | prepend: "With: " | append: "."}}
                {% endif %}
                </p>
                <p>
                             {% if presentation.slideurl %}
                                <a href="{{ presentation.slideurl }}" class="btn zoombtn"><i class="fa fa-picture-o" aria-hidden="true"></i> Slides</a>
                             {% endif %}
                             {% if presentation.handouturl %}
                             <a href="{{ presentation.handouturl }}" class="btn zoombtn"><i class="fa fa-file-text-o" aria-hidden="true"></i> Handout</a>
                             {% endif %}
                             {% if presentation.meetingurl %}
                                <a href="{{ presentation.meetingurl }}" class="btn zoombtn"><i class="fa fa-calendar" aria-hidden="true"></i> Event Page</a>
                             {% endif %}
                             <a href="{{ site.url }}{{ presentation.url }}" class="btn zoombtn">More information ></a>
                </p>
            </li>
        </ul>
    {% endfor %}
</div>
