---
layout: page
title: About WI+RE
description: "Design for learning, led by learners."
permalink: /about/
background: '/assets/images/backgrounds/art-creative-flying-17679-3000.jpg'
accessibility-info:
    - - { text: 'WAVE tested - 0 errors', date: '2020-08-27', url: 'https://wave.webaim.org/' }
---
<h2>Hi there!</h2>
<div class="row">
    <div class="col-md">
        <p>WI+RE is a learner-led community at UCLA focused on helping everyone succeed in their writing and research projects.</p>
        <p>The <a href="{{ '/about/creative-team/' | relative_url }}">WI+RE team</a> leverages a <a href="{{ '/about/design-toolkit/' | relative_url }}">learner-centered design toolkit</a> to create and continually improve <a href="{{ '/tutorials/' | relative_url }}">open online learning modules</a>. We also experiment and reflect on our process in the <a href="{{ '/sandbox/' | relative_url }}">WI+RE sandbox</a>, and share the principles behind our work in our manifesto, <a href="{{ '/wire-way/' | relative_url }}">the WI+RE way</a>.</p>
    </div>
    
    <div class="col-md-5">
            <a class="btn btn-outline-primary btn-block" href="{{ '/about/creative-team/' | relative_url }}" role="button">Creative Team &amp; Community &raquo;</a>
            <a class="btn btn-outline-primary btn-block" href="{{ '/about/learning-outcomes/' | relative_url }}" role="button">Learning Outcomes &amp; ACRL Frames  &raquo;</a>
            <a class="btn btn-outline-primary btn-block" href="{{ '/about/accessibility/' | relative_url }}" role="button">Accessibility Report  &raquo;</a>
            <a class="btn btn-outline-primary btn-block" href="{{ '/sandbox/' | relative_url }}" role="button">⛱ Sandbox &raquo;</a>
            <a class="btn btn-outline-primary btn-block" href="{{ '/about/design-toolkit/' | relative_url }}" role="button">Design Tools &amp; Manifesto &raquo;</a>
            <a class="btn btn-outline-primary btn-block" href="{{ '/contact/' | relative_url }}" role="button">Contact WI+RE &raquo;</a>
    </div>
</div>

<h3>Highlights</h3>
<!-- to edit the numbers in this section, edit the file _data/stats.yml and they will update here! -->
<div class="card-deck">
    <div class="card">
    <div class="card-body">
       <h4 class="card-title text-center">{{ site.data.stats.workshops.number}}+ <br><small class="text-muted">Workshops completed at UCLA</small></h4>
    </div>
  </div> 
  <div class="card">
    <div class="card-body">
       <h4 class="card-title text-center">{{ site.data.stats.youtube.number}}+ <br><small class="text-muted">views on YouTube</small></h4>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center">{{ site.data.stats.website.number}}+ <br><small class="text-muted">Website page views</small></h4>
    </div>
  </div>
</div>

<h4 class="mt-5">Award Winning and Peer Reviewed Open Educational Resources</h4>
{% assign awardWinners = site.documents | sort: "title" %}
{% for item in awardWinners %}
    {% if item.awards %}
        <h5 class="mt-3"><a href="{{ item.url | relative_url }}">{{ item.title }}</a></h5>
        <ul class="fa-ul">
            {% for award in item.awards %}
                {% include award-namify.html %}
                <li><span class="fa-li"><i aria-hidden="true" class="fas fa-award"></i><span class="sr-only">Award icon</span></span>{{ awardName }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}

<!-- this captures the list of team member names from site.team-members -->
{% capture member-name-list %}{{ site.team-members | map: 'username' | split: ',' }}{% endcapture %}

<h4 class="mt-5">Publications and Presentations</h4>
<!-- the content in this section comes from _data/publications.yml -->
<!-- to edit content in this section, edit _data/publications.yml -->

<h5 class="mt-3">2020</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentytwenty %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<h5 class="mt-3">2019</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentynineteen %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<h5 class="mt-3">2018</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentyeighteen %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<h5 class="mt-3">2017</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentyseventeen %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<h5 class="mt-3">2016</h5>
<div class="row justify-content-start">
    <div class="col-md-10 col-sm-12">
        {% for pub in site.data.publications.twentysixteen %}
            {% include pubcard.html %}
    {% endfor %}
    </div>
</div>

<img src="{{ '/assets/images/team/WI+RE-Banner.png' | relative_url }}" alt="Five student designers on the WI+RE team collaborate on a video shoot. Text overlay: WI+RE." class="img-fluid mx-auto align-middle img-thumbnail" />


