---
layout: page
title: WI+RE Learning Outcomes
description: A list of learning outcomes for all of WI+RE's tutorials, workshops, handouts, and more
permalink: /about/learning-outcomes/
---
<h2>WI+RE's Open Educational Resources</h2>
<p>Browse WI+RE's Open Educational Resources by their learning outcomes, connections to the ACRL Framework for Information Literacy, relationship to UCLA's Core Competencies for Research and Information Literacy, or by accessibility information.</p>

<div class="card">
  <!-- header with navigation tabs -->
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="lo-tab" data-toggle="tab" href="#learning-outcomes" role="tab" aria-controls="learning-outcomes" aria-selected="true">Learning Outcomes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="framework-tab" data-toggle="tab" href="#acrl-framework" role="tab" aria-controls="acrl-framework" aria-selected="false">ACRL Framework</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" id="comps-tab" data-toggle="tab" href="#core-comps" role="tab" aria-controls="ucla-core-competencies" aria-selected="false">UCLA Core Competencies</a>
      </li>
    </ul>
  </div>
  <!-- card body with tab content -->
  <div class="card-body">
    <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="learning-outcomes" role="tabpanel" aria-labelledby="learning-outcomes">
      <p class="card-text">Learning Outcomes.</p>
        {% include list-by-learning-outcome.html %}
    </div>
  <div class="tab-pane fade" id="acrl-framework" role="tabpanel" aria-labelledby="acrl-framework">
      <p class="card-text">ACRL Framework</p>
      {% include list-by-frame.html %}
    </div>
  <div class="tab-pane fade" id="core-comps" role="tabpanel" aria-labelledby="ucla-core-competencies">
      <p class="card-text">UCLA Core Competencies.</p>
      </div>
      </div>  
  </div>
</div>
<hr>
<p>is it working?</p>
{% include list-by-accessibility-info.html %}