.customstyle {
	background: #00FFFF;
	font-size: 24px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	}


/* styling for next and previous links at bottom of posts */
/* ty: http://david.elbe.me/jekyll/2015/06/20/how-to-link-to-next-and-previous-post-with-jekyll.html*/

.PageNavigation {
  font-size: small;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 100%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

pre {
    white-space: pre-wrap;
}
