---
layout: default
---

<h3>Posts related to: {{ page.title }}</h3>

{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

{% unless site.categories.[page.category] | size > 0 %}
  <p>No posts in this category at this time.</p>
{% endunless %}

{% for post in site.categories.[page.category] %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h4 class="post-title">            
            {{ post.title }}
        </h4>
        {% if post.subtitle %}
        <h5 class="post-subtitle">
            {{ post.subtitle }}
        </h5>
        {% endif %}
    </a>
    <p class="post-meta">
      Posted by 
      {% if post.author %}
        {{ post.author }}
      {% else %}
        {{ site.title }}
      {% endif %} 
      on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}


# Categories
## Getting Started
## Finding and Citing Sources
## Incorporating Sources into Your Writing
## Sharing Your Research
## Literature Reviews