---
layout: post
---
{{ content }}

<div class="col-md-12">
            <div class="card">
                  <iframe src="{{ page.embed-url }}" width="100%" height="700"></iframe> 
              <div class="card-body">
                  <h5 class="card-title">{{ page.title }}</h5>
                <p class="card-text">{{ page.description }}</p>
                <a href="{{ page.embed-url | replace: "preview", "view" }}" class="btn btn-primary">PDF</a>
              </div>
            </div>
</div>
