---
layout: default
---
<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-11 col-xl-10 mx-auto">
          <!-- all the same between post and page before this point -->
        <div class="post-heading"> <!-- configure this in custom css -->
            <div class="post-heading-text-box heading-text-box">
        <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="subheading">{{ page.subtitle }}</h2>
          {% endif %}
          <!-- this captures the list of team member names from site.team-members -->
          {% capture member-name-list %}{{ site.team-members | map: 'title' | split: ',' }}{% endcapture %}
          <!-- -->
          <span class="meta">{% if page.collection == "posts" %}Posted by{% else %}Created by{% endif %}
            {% if page.authors %}
                {% for authorname in page.authors %}
                    {% if member-name-list contains authorname %}
                        <a href="{{ authorname | slugify | prepend: '/about/creative-team/' | relative_url }}">{{ authorname }}</a>{% if forloop.last == false %},{% endif %}
                    {% else %}
                        {{ authorname }}{% if forloop.last == false %},{% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <a href="{{ '/about/creative-team/' | relative_url }}">{{ site.author }}</a>
            {% endif %}
            <!--on {{ page.date | date: '%B %d, %Y' }}--></span>
            </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-11 col-xl-10 mx-auto">
        {{ content }}
        {% include info.html %}
        {% include prev-next.html %}
    </div>
  </div>
</div>
